body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #cccccc;
}
.central-div{
    width:55%;
    margin:auto;
    
}
.main-title{
    text-transform: capitalize;
    font-size:2em;
    font-weight:lighter;
    margin-top: 15px;
    margin-bottom: 30px;

}
.content-div, .title-div{
    text-transform: uppercase;
    color:#616161;
    margin-top: 20px;
    margin-bottom: 20px;
}
form input, textarea{
    width:100%;
    background-color: #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #757575;
    outline: none;
    color:#ccc;
    font-size: 18px;
    font-weight: lighter;
}
textarea{
    height:310px;
}
form input:focus, textarea:focus{
    border-bottom: 1.9px solid #b3b2b2;
    transition: .3s;
}
.link-container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-content: space-between;  
    margin-top: 20px;
    height: 25px;
}
.btn{
    width:45%;
    height:20px;
    text-decoration: none;
    font-size: 1.1em;
    padding: 15px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
div a{
    text-decoration: none;
}
#btn-2{
    background-color: #cccccc;
    color:#121212;
    border-radius:8px;
    padding: 15px;
}
#btn-2:hover{
    background-color: #b1b1b1;
    transition: .3s;
}
#btn-1{
    color: #cccccc;
    background-color: #121212;
    border: .9px solid #8a8a8a;
    border-radius: 10px;
}
#btn-1:hover{
    background-color: #1d1d1d;
    transition: .3s;
}
@media (max-width:760px){
    .central-div{
        width:96%;
        padding: 10px;
    }
    .btn{
        margin:8px;
    }
}
@media (min-width:760) and (max-width:1000px){
    .central-div{
        width:90%;
        padding: 15px;
        
    }
    .btn{
        margin:8px;
    }
}