body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #cccccc;
    width:65%;
    margin:auto;
}
.central-div{
    width:100%;
    margin:auto;
    
}
.main-title{
    text-transform: capitalize;
    font-size:2em;
    font-weight:lighter ;
    margin-top: 5px;
    margin-bottom: 30px;

}
.title-div{
    text-transform: uppercase;
    color:#adadad;

}
div form input{
    margin-top: 15px;
    width:100%;
    height:40px;
    font-size: 1.1em;
    background-color: #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #444444;
    outline: none;
    color:#ccc;
}
div form input:focus{
    border-bottom: 1.8px solid #8a8a8a;
    transition: .2s;
}
.content-div{
    text-transform: uppercase;
    color:#adadad;
    margin-top: 25px;
    margin-bottom: 24px;
}
textarea{
    width:100%;
    height:280px;
    background-color: #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid #8a8a8a;
    outline: none;
    color:#ccc;
    font-size: 18px;
    font-weight: lighter;
}
.link-container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-content: space-between;  
    margin-top: 20px;
    height: 25px;
}
.btn{
    width:45%;
    height:20px;
    text-decoration: none;
    font-size: 1.1em;
    padding: 15px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
#btn-1{
    color: #ff5252;
    border: 1px solid #ff5252;
    border-radius:8px;
    padding: 15px;
}
#btn-1:hover{
    color:#cccccc;
    background-color: #ff5252;
    transition: .3s;
}
#btn-2{
    background-color: #cccccc;
    color:#121212;
    border-radius:8px;
    padding: 15px;
}
@media (max-width:760px){
    .central-div{
        width:90%;
        padding: 20px;
    }
    .btn{
        margin:8px;
    }
}
@media (min-width:760px){
    .central-div{
        width:80%;
        padding: 20px;
        
    }
    .btn{
        margin:8px;
    }
}