* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #cccccc;
}

.main-title-div {
    font-weight: 300;
    font-size: 2.5em;
    word-spacing: -4px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.central-div {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.card-title {
    text-transform: capitalize;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card {
    background-color: #1d1d1d;
    padding: 20px;
    border: 1.5px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin: 8px;
    padding: 20px;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #1a1a1a;
    transform: translateY(-1.5%);
    transition: .3s;
}

.card-title {
    font-size: 1.12em;
    font-weight: 700;
    color: white;
}

.card-content {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: .85em;
}

.card-date {
    margin-bottom: 0;
    font-size: 0.75em;
}

.plus-div {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: white;
    color: black;


}

.plus-div p {
    font-size: 48px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-div:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 20px;

}


